<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/nav.ejs') %>
            <main>
                <h2>
                    <%= movieData.title %>
                </h2>
                <img src='https://image.tmdb.org/t/p/w500<%= movieData.poster_path %>' alt="movie poster">

                <h2>Information</h2>
                <div class = "information-container">
                <p><strong>Release Date:</strong>
                    <%= movieData.release_date %>
                </p>
                <p><strong>Director:</strong>
                    <%= directorName %>
                </p>
                <p><strong>Genre:</strong>
                    <%= movieData.genres[0].name %>
                </p>
                <p><strong>Overview:</strong>
                    <%= movieData.overview %>
                </p>
                <p><strong>Quote:</strong> "<%= singleMovieQuote %>"</p>
                </div>

            </main>


            <%- include('partials/footer.ejs') %>
    </body>

</html>